body{
	font-family: 'Raleway', sans-serif;
}
#Container{
	width: 100%;
	height: 100%;
}
#Napis{
	width: 100%;
	height: 50px;
	text-align: center;
}
input[type=text]{
	font-size: 35px;
	width: 60%;
	height: 100%;
	box-shadow: 0px 0px 29px 21px rgba(0,0,0,0.24);
	border-radius: 30px;
	border: 5px solid #666666;
	background-color: #a0a0a0;
	color: #666666;
	text-align: center;
	transition: all 0.2s linear;
}
input[type=text]:hover
{
	width: 75%;
}
input[type=text]:focus
{
	width: 75%;
}
.wyszukane{
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	height: 100px;
	border: 5px solid #666666;
	border-radius: 30px;
	box-shadow: 0px 0px 29px 21px rgba(0,0,0,0.24);

}
#wyszukiwarka{
	position: absolute;
	background-color: white;
	width: 100%;
	height: 95vh;
	margin-top: 80px;
	top: 0;

}
.flag{
	float: left;
	width: 10%;
	height: 100%;
	margin: auto;
	border-right: solid #666666;
	text-align: center;

}
.info{
	float: left;
	margin-left: 10px;
	width: 87.835%;
	height: 100%;
}
.NazwaKraju{
	border-bottom: solid #666666;
	font-size: 28px;
	font-weight: bold;
}
.info2{
	font-size: 20px;
}
.niewidzialny{
	display: none;
	z-index: -99999;
}
.widzialny{
	display: block;
	z-index: 9999;
}
#Content{
	width: 100%;
	height: 70%;
	margin-top: 30px;
}
#Map{
	margin-top: 30px;
	border-radius: 30px;
	width: 100%;
	height: 95vh;
}
#Stopka{
	width: 100%;
	clear: both;
}
#AD{
	width: 250px;
	height: 250px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	border-radius: 15px;
}
.conf{
	color: #ff416c;
	float: left;
	margin-right: 5px;
}
.ded{
	color: #8643e6;
	float: left;
	margin-right: 5px;
}
.rec{
	color: #61ce81;
	float: left;
	margin-right: 5px;
}
.nap{
	float: left;
}
.exi{
	color: #286eff;
	float: left;
	margin-right: 5px;
}
.wy{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 10000;
}
.nz{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0%;
	height: 0%;
	background: white;
	z-index: -1000000;
}
#Namew{
	margin-right: auto;
	margin-left: auto;

}
.gh{
	text-align: left;
	height: 60px;
}
.hes{
	font-weight: bold;
	width: 120px;
}
